@import 'src/lib/utilities.scss';

.content {
  margin-bottom: $spacer * 5;
}

.header {
  font-size: 3rem;
  font-family: $sans-serif;
  font-variation-settings: 'wght' 900;

  // light/dark mode
  color: $primary-light-color;
  @media (prefers-color-scheme: dark) {
    color: $secondary-dark-color;
  }
}

.description {
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-family: $sans-serif;
  font-variation-settings: 'wght' 300;
  border-top: 0.1rem solid;
  border-bottom: 0.1rem solid;

  // light/dark mode
  border-color: $accent-light-color;
  color: $accent-light-color;
  @media (prefers-color-scheme: dark) {
    border-color: $accent-dark-color;
    color: $accent-dark-color;
  }
}

.body {
  font-family: $serif;
  font-size: $body-font-size;

  // light/dark mode
  color: $primary-light-color;
  @media (prefers-color-scheme: dark) {
    color: $secondary-dark-color;
  }
}
