@import 'src/lib/utilities.scss';

.excerpt {
  max-width: 80ch;
  font-size: 1.2rem;
  width: 100%;
  margin: 2rem 0;
}

.header {
  font-family: $serif;
  color: $primary-light-color;
  font-size: 1.6rem;
  @media (prefers-color-scheme: dark) {
    color: $secondary-dark-color;
  }
}

.link {
  // margin: 0.5rem auto;
  // padding: 0.5rem;
  font-family: $sans-serif;
  text-align: center;
  font-size: 2rem;
  font-variation-settings: 'wght' 900;
  text-decoration: none;
  color: $accent-light-color;
  @media (prefers-color-scheme: dark) {
    color: $accent-dark-color;
  }
  &:hover {
    color: $primary-light-color;
    @media (prefers-color-scheme: dark) {
      color: $secondary-dark-color;
    }
  }
  &:focus {
    outline: thin dashed $accent-light-color;
    @media (prefers-color-scheme: dark) {
      outline: thin dashed $accent-dark-color;
    }
  }
}
