@import 'src/lib/utilities.scss';

$body-font-size: 1.8rem;
$spacer: 2rem;

.excerpt {
  @include readability-width($body-font-size);
  margin-bottom: $spacer * 5;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__title {
  margin-bottom: $spacer/2;
  font-family: $sans-serif;
  font-size: 3.4rem;
  font-variation-settings: 'wght' 300;

  // light/dark mode
  color: $primary-light-color;
  border-bottom: 0.1rem solid $accent-light-color;
  @media (prefers-color-scheme: dark) {
    color: $secondary-dark-color;
    border-bottom: 0.1rem solid $accent-dark-color;
  }
}

.header__date {
  align-self: flex-end;
  margin-bottom: $spacer;
  font-family: $sans-serif;
  font-size: 1.4rem;
  font-variation-settings: 'wght' 700;

  // light/dark mode
  color: $accent-light-color;
  @media (prefers-color-scheme: dark) {
    color: $accent-dark-color;
  }
}

.body {
  margin-bottom: $spacer;
  font-size: $body-font-size;
  line-height: 2;
  font-family: $serif;
  font-variation-settings: 'wght' 300;

  // light/dark mode
  color: $primary-light-color;
  @media (prefers-color-scheme: dark) {
    color: $secondary-dark-color;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.footer__link {
  padding-bottom: 0.5rem;
  font-family: $sans-serif;
  text-align: center;
  font-size: 2rem;
  font-variation-settings: 'wght' 900;
  text-decoration: none;

  // light/dark mode
  color: $accent-light-color;
  @media (prefers-color-scheme: dark) {
    color: $accent-dark-color;
  }
  &:hover {
    color: $primary-light-color;
    @media (prefers-color-scheme: dark) {
      color: $secondary-dark-color;
    }
  }
  @include accent-focus-border-bottom(0.1rem);
}
