.revealer {
  // this fades in the image as soon as it loads
  > img {
    animation-duration: 1500ms;
    animation-name: reveal;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
