@import 'src/lib/utilities.scss';

.nav {
  margin-bottom: $spacer * 2;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: $sans-serif;
  font-variation-settings: 'wght' 200;

  // light/dark mode
  color: $primary-light-color;
  @media (prefers-color-scheme: dark) {
    color: $secondary-dark-color;
  }
}

.list {
  margin: 0;
}

.item {
  font-size: 1.2rem;
  text-transform: initial;
  font-variation-settings: 'wght' 400;
  margin-bottom: 0.5rem;
  &:last-child {
    margin: 0;
  }
}

.link {
  display: inline-block;
  position: relative;
  margin: 0;
  text-decoration: none;
  transition: $link-transition;

  @include accent-focus-border-bottom(0.1rem);
  @include sans-serif-line-height-faker;

  // light/dark mode
  color: $primary-light-color;
  @media (prefers-color-scheme: dark) {
    color: $secondary-dark-color;
  }
  &:hover {
    color: $accent-light-color;
    @media (prefers-color-scheme: dark) {
      color: $accent-dark-color;
    }
  }
  &::before {
    content: ' ';
    position: absolute;
    top: 0.5rem;
    bottom: 0.5rem;
    left: -1rem;
    width: 0.3rem;

    // light/dark mode
    background-color: $accent-light-color;
    @media (prefers-color-scheme: dark) {
      background-color: $accent-dark-color;
    }
  }
}
