@import 'src/lib/utilities.scss';

.body {
  margin-bottom: $spacer;
  font-size: $body-font-size;
  line-height: 2;
  font-family: $serif;
  font-variation-settings: 'wght' 300;

  // light/dark mode
  color: $primary-light-color;
  @media (prefers-color-scheme: dark) {
    color: $secondary-dark-color;
  }

  // children
  p {
    margin-bottom: $spacer * 2;
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    margin-bottom: $spacer * 2;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
