@import 'src/lib/utilities.scss';

.excerpt {
  margin-bottom: $spacer * 5;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.link {
  font-family: $sans-serif;
  text-align: center;
  font-size: 2rem;
  font-variation-settings: 'wght' 900;
  text-decoration: none;
  transition: $link-transition;

  // light/dark mode
  color: $accent-light-color;
  @media (prefers-color-scheme: dark) {
    color: $accent-dark-color;
  }
  &:hover {
    color: $primary-light-color;
    @media (prefers-color-scheme: dark) {
      color: $secondary-dark-color;
    }
  }
  @include sans-serif-line-height-faker;
  @include accent-focus-border-bottom(0.1rem);
}
